Source: ros-rolling-py-trees-js
Section: misc
Priority: optional
Maintainer: Daniel Stonier <d.stonier@gmail.com>
Build-Depends: debhelper (>= 9.0.0), pyqt5-dev-tools, python3-setuptools, qttools5-dev-tools, ros-rolling-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: https://github.com/splintered-treality/py_trees_js
Standards-Version: 3.9.2

Package: ros-rolling-py-trees-js
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, libpyside2-dev, libshiboken2-dev, pyqt5-dev, python3-pyqt5, python3-pyqt5.qtsvg, python3-pyqt5.qtwebengine, python3-pyside2.qtsvg, python3-sip-dev, qtbase5-dev, shiboken2, ros-rolling-ros-workspace
Description: Javascript library for visualising behaviour trees.
